services:
  postgres:
    image: postgres:18
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mywallets
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql
  adminer:
    image: adminer:latest
    ports:
      - "8080:8080"
    depends_on:
      - postgres

volumes:
  pgdata:
    driver: local
